@import '~bootstrap/scss/bootstrap';

.justify_around {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.justify_evenly {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.justify_between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.inline-block {
    display: inline-block;
}
.clear-both {
    clear: both;
}
@media screen and (min-width: 1400px) {
    .container {
      max-width: 1370px;
    }
  }
  @media screen and (min-width: 1680px) {
    .container {
      max-width: 1570px;
    }
  }
  @media screen and (min-width: 1920px) {
    .container {
      max-width: 1870px;
    }
  }
  @media screen and (min-width: 2200px) {
    .container {
      max-width: 2150px;
    }
  }
  @media screen and (min-width: 2480px) {
    .container {
      max-width: 2430px;
    }
  }
  @media screen and (min-width: 2760px) {
    .container {
      max-width: 2710px;
    }
  }
  @media screen and (min-width: 3040px) {
    .container {
      max-width: 2090px;
    }
  }